.inputTextButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 88px;
    height: 20px;
    border-radius: 5px;
    background: lightblue;
    outline: 0;
    border: 1px solid blue;
    color: transparent;
}

video {
    width: 400px;
    height: 400px;
}

.noteSection {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: lightblue;
    margin-bottom: 5px;
}

.noteSection p {
    width: 25%;
}