video {
    width: 400px;
    height: 400px;
}

#demoContainer {
    position: absolute;
    top: 100px;
}

.noteSection {
    position: relative;
    display: flex;
    width: 98vw;
    align-items: center;
    justify-content: space-around;
    background: lightblue;
    margin-bottom: 5px;
}

.noteSection p {
    width: 25%;
}

#searchbar {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    outline: 0;
    border: 2px solid skyblue;
    padding: 5px;
    font-size: 18px;
}